*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color:  #ebebeb;
}

p{
    font-size: 12px;
}

div.top-header{
    padding: 5%;
}

header{
    background-color: #EAC926;
}

header div.logo,
.form{
    width: 50%;
    display: inline;
}

header div.logo{
    padding: 10px;
}
header nav{
    font-size: 12px;
    display: none;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

/************************************
*************LOGIN******************/
.container-login {
    display: flex;
    background-color: rgb(225, 222, 222);
    width: auto;
    min-height: 400px;
    min-width: 400px;
    margin: 300px;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
}
.icon-person {
    font-size:80px;
    color: rgb(50, 106, 218);
    display: inline-block;
    justify-content:center;
    align-items: center;
}
.icon-person p {
    font-size:50px;
    display: inline-block;
    justify-content:center;
    align-items: center;
}
.formulary {
    margin-top: 30px;
    
}   
/********************************
***FORMULARIO DE REGISTRO********/

.container-registro {
    display: flex;
    background-color: rgb(225, 222, 222);
    width: auto;
    min-height: 400px;
    min-width: 400px;
    margin: 300px;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
}
.form-control {
    margin-bottom: 15px;
 
}


.form-control label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.button {
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100%;  
    background-color:rgb(50, 106, 218);
}
.button-reset {
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 100%;  
    background-color:rgb(181, 6, 6);
}
.button a {
    text-decoration: none;
    color: white;
}
.button:hover{
    background-color:rgb(19, 77, 193);
}
.pregunta-registro p{
    margin:5px;
}
input {
    border: 8px solid currentcolor;
  }

input:invalid {
    border: 2px dashed red;
  }

input:invalid:required {
    border: solid 2px #666;
    border-radius: 2px;
}

input:invalid:focus {
    background-color: #1259c3;
    content: 'Insuficientes caracteres';
    color: rgb(0, 0, 0);

  }

  input:valid{
      border: 2px #03264C
  }

  input:valid:focus{
      color: black;
      background-color:#EAC926;
  }

/*--TABLETS--*/
@media (min-width:361px){
    .top-header{
        display: flex;
        flex-wrap: wrap;
    }
    header nav {
       display: flex;
       justify-content: space-between;
    }
    header nav ul{
        display: flex;
        flex-wrap: wrap;
    }
    header nav ul li{
        margin: 0 10px;
    }
    .burger-menu{
        display: none;
    }
}

/*--DESKTOP--*/
@media (min-width:769px){
    header nav {
        display: block;
    }
    .burger-menu{
        display: none;
    }
}